# Azure OpenAI Service Configuration for LLM as judge
EVAL_AZURE_OPENAI_VERSION=
EVAL_AZURE_OPENAI_ENDPOINT=
EVAL_AZURE_OPENAI_MODEL=

# Required to push the evaluation results to Foundry workspace 
# Format: connection_string;subscription_id;resource_group;project_name used if hub project created using foundry. Alternatively use subscription id, resource group and project name directly
EVAL_AZURE_FOUNDRY_CONNECTION_STRING=
EVAL_AZURE_SUBSCRIPTION_ID=
EVAL_AZURE_RESOURCE_GROUP_NAME=
EVAL_AZURE_PROJECT_NAME=

# new versions of Azure ai evals will use only end points. this is applicable for azure-ai-evaluation==1.12.0b1, azure-ai-projects==1.0.0b11
EVAL_AZURE_FOUNDRY_PROJECT_ENDPOINT=

# AI Foundry project configurations
AZURE_AI_PROJECT_ENDPOINT="""
AZURE_AI_MODEL_DEPLOYMENT_NAME=""
APPLICATIONINSIGHTS_CONNECTION_STRING=""
APPLICATION_INSIGHTS_WORKSPACE_ID=""
ENABLE_OTEL=true
ENABLE_SENSITIVE_DATA=true

AZURE_OPENAI_ENDPOINT=""
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=""""
AZURE_OPENAI_API_VERSION=""